.head {
	background: #5b835B;
	height: 51px !important;
}
.bars {
    font-size: 20px;
    color: #FFF !important;
    float: right;
    margin-right: 0px;
    margin-top: 12px;
}
.searchbox {
	   height: 25px;
    width: 250px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 6px;
    padding-left: 10px;
    color: #6a6c6f;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.logos {
	margin-top: 6%;
margin-left: 10%;
}

.one-of-two {
    width: 10%;
    float: left;
}
.two-of-two {
    width: 90%;
    float: left;
}
.text-warning {
    color: #aaacae !important;
}
.text-master {
    color: #6a6c6f !important;
    float: left;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.text-masters {
    color: #9a9ca0 !important;
    float: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 95%;
}
.text-masterse {
    color: #6a6c6f !important;
    float: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    /*white-space: nowrap;
    text-overflow: ellipsis;*/
    overflow: hidden;
    width: 100%;
}
.date {
	margin: 10px;
	padding: 10px;
}
.qlinks ul li a{
    cursor: pointer;
}
.qlinks ul li {
    list-style-type: numbers;
}
.txt {
    width: 100%;
    float: left;
}
.dropp {
    /*margin-top:10px;
    margin-bottom:10px;
    padding-bottom:10px;*/
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    width: 100% !important;
    background: #EBF7EB;
float: left !important;

}
.dropdo {
    background: #E7E4E4;
}
.dropp:hover {
    background: none !important;
}
.drop {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #6a6c6f;
}
.drop:focus{
    color: #6a6c6f !important;
}
.btn:hover {
    background: none !important;

}
#dropdownMenuButton {
    background: none;
}
.cont {
    height: 600px;
}
.sub-cont {
    height: 250px;
    overflow-y: scroll;
}
.sub-cont ul {
    list-style-type: none;
    margin-left: -40px;
}
.events {
   background: #DDD;
   height: 90px;
}
.sub-cont ul li {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.07);*/
}
.tkt {
    border:1px solid #CCC;
    border-radius: 5px;
}
.tkts{
    background: #5b835b;
    padding: 6px;
    border-radius: 5px 5px 0px 0px;
    color: #FFF;
}

.mb-10 {
    margin-top: 10px !important;
    margin-bottom: 20px;
}
.mb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.contents {
    border:  1px solid rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    background: #CCC;
}
.cmt {
     background: #5b835b;
     border:  1px solid rgba(0, 0, 0, 0.07);
    padding: 6px;
    border-radius: 5px 5px 0px 0px;
    color: #FFF;
}
.comment {
   
    border-radius: 5px;
    /*background: #CCC;*/
    height: 280px;
    padding:10px;
}
.comment ul {
    list-style-type: none;
    margin-left: -35px;
    height: 230px;
    overflow-y: scroll;
}
.cmttxt {
    background: #DDD;
    padding:10px;
    border-radius: 5px;
}
.center {
    text-align: center;
}
.border {
    border-bottom: 1px dotted #ccc;
    width: 96%;
    margin: 0px 0px 10px 10px;
}
.scroll {
    height: 180px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.txtchat {
    margin: 10px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.07);;
}
.send {
    margin: 15px 5px 6px 0px;
}
.footer {
    /*margin-left: 15px;
    margin-right: 15px;*/
}

.title {
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 700;
}
.count {
    font-weight: bold !important;
}
.h-150 {
    height: 150px;
}
.h-200 {
    height: 200px;
}
.hpanel .panel-body {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.hpanel > .panel-footer, .hpanel > .panel-section {
    color: inherit;
    border: 1px solid #eaeaea;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(234, 234, 234);
    border-top: 0;
    font-size: 90%;
    background: #f7f9fa;
    padding: 10px 15px;
}
.stats-title h4 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-t-xl {
    margin-top: 40px;
}
.container-cont {
    margin-left: 15px;

}
.hpanel {
    background-color: none;
    border: 0;
    box-shadow: none;
    margin-bottom: 25px;
}
.hme {
    font-size: 13px;
}
.ml-20 {
    margin-left: 20px;
}
.nortxt {
   color: #6a6c6f;
font-size: 12px;
margin-top: -5px;
position: absolute;
margin-left: 10px;
}
.normal {
    background: #5bc102;
    height: 10px;
    width: 10px;
    float: left;
    border-radius: 50%;
}
.warn {
    background: #ffd600;
    margin-top: 15px;
    height: 10px;
    width: 10px;
    float: left;
    border-radius: 50%;
}
.warntxt {
    color: #6a6c6f;
    position: absolute;
    margin-top: 11px;
    margin-left: 10px;
}
.errtxt {
    color: #6a6c6f;
    position: absolute;
    margin-top: 11px;
    margin-left: 10px;
}
.offtxt {
    color: #6a6c6f;
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
}
.err {
    background: #f03c3d;
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 15px;
    border-radius: 50%;
}
.off {
    background: #808080;
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 15px;
    border-radius: 50%;
}
#example_filter {
    float: right;
}
.font-extra-bold {
    font-weight: 700 !important;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-t-xl {
    margin-top: 40px !important;
}
.offl {
    background: #808080;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.war {
    background: #ffd600;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.erro {
    background: #f03c3d;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.act {
    background: #5bc102;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.panel-heading {
    color: inherit;
    font-weight: 600;
    padding: 10px 4px;
    transition: all .3s;
    border: 1px solid transparent;
    /*background: #FFF;*/
    /*border: 1px solid #eaeaea;*/
}
.h-30 {
    height: 30px;
}
.h-50 {
    height: : 50px;
}
.h-730{
    height: 730px;
}
.pl-15 {
    padding-left: 15px;
}
.pr-15 {
    padding-right: 15px;
}
.acti {
    color: #5bc102;
font-weight: bold;
margin-left: 10px;
}
.sitemap {
    width: 100%;
    height: 80px;
}
#gotop {
    background: #5B835B !important;
    z-index: 9999;
}
.p-lr {
    padding-right: 0px;
    padding-left: 0px;
}

#chartdiv {
  width: 100%;
  height: 500px;
}
.amcharts-chart-div a {
    font-size: 0px !important;
}
.maps{
    position: static !important;
    overflow: visible !important;
}
#map{
 /*  position: absolute !important;
overflow: visible !important;
z-index: 9999;*/
}