.searchbox {
    height: 25px;
    width: 250px;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 6px;
    padding-left: 10px;
    color: #6a6c6f;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
/*.card-footer {
    color: inherit;
    border: 1px solid #eaeaea;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(234, 234, 234);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(234, 234, 234);
    border-top: 0;
    font-size: 90%;
    background: #f7f9fa;
    padding: 10px 15px;
}*/
.card-footer {
    padding: .5rem 1rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.h-200 {
    height: 200px;
}
.h-150 {
    height: 150px;
}
.h-300 {
    height: 300px;
}
.h-50 {
    height: 50px;
}
.normal {
    background: #5bc102;
    height: 10px;
    width: 10px;
    float: left;
    border-radius: 50%;
}
.nortxt {
    color: #6a6c6f;
    font-size: 12px;
    margin-top: -5px;
    position: absolute;
    margin-left: 10px;
}
.warntxt {
    color: #6a6c6f;
    position: absolute;
    font-size: 12px;
    margin-top: 11px;
    margin-left: 10px;
}
.warn {
    background: #ffd600;
    margin-top: 15px;
    height: 10px;
    width: 10px;
    float: left;
    border-radius: 50%;
}
.err {
    background: #f03c3d;
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 15px;
    border-radius: 50%;
}
.errtxt {
    color: #6a6c6f;
    position: absolute;
    margin-top: 11px;
    font-size: 12px;
    margin-left: 10px;
}
.offtxt {
    color: #6a6c6f;
    position: absolute;
    margin-top: 12px;
    font-size: 12px;
    margin-left: 10px;
}
.off {
    background: #808080;
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 15px;
    border-radius: 50%;
}
.ml-20 {
    margin-left: 17px;
}
.ml-25 {
    margin-left: 25px;
}
.pl-15 {
    padding-left: 15px !important;
}
.pr-15 {
    padding-right: 15px;
}
.padd-0 {
	padding:0px;
}
.panel-heading {
    font-weight: bold;
}
#gotop {
    background: #5B835B !important;
    z-index: 9999;
}
.card-footer {
    padding: .50rem 1.00rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.card-block p {
    margin:0px 0px 0px 0px;
}
.card-footer a {
    font-size: 13px;
    cursor: pointer;
}
#example_length {
    float: left;
}
#example_filter {
    float: right;
}
.table-bordered > thead > tr > th {
    border-bottom-width: 1px !important;
}
.offl {
    background: #808080;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.war {
    background: #ffd600;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.erro {
    background: #f03c3d;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.act {
    background: #5bc102;
    height: 10px;
    width: 10px;
    border-radius: 85%;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.newlink {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #6a6c6f;
}
.newlink:hover {
    text-decoration: none;
}
.center {
    text-align: center;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-t-xl {
    margin-top: 40px;
}
.font-extra-bold {
    font-weight: 700 !important;
}
.header-icon:hover {
    text-decoration: none !important;
    color: #FFF !important;
}
.map{
    height: 700px;position: relative;overflow: initial;
}
.cmaps {
    height: 450px;position: relative;overflow: initial;
}
.list ul li a{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #6a6c6f;
}
.list ul li a:hover {
    text-decoration: none;
}
.canvasjs-chart-toolbar {
    display: none;
}
.canvasjs-chart-credit {
    font-size: 0px !important;
}
.export-main,.amcharts-scrollbar-grip-left,.amcharts-scrollbar-grip-right {
    display: none !important;
}
.amcharts-chart-div a{
    font-size: 0px !important;
}
.text-master:hover {
    text-decoration: none !important;
}
.chat-user-list  a:hover{
    text-decoration: none;
}
.one-of-two {
    width: 10%;
    float: left;
    margin-top: 10px !important;
}
.text-warning {
    color: #aaacae !important;
}
.fs-12 {
    font-size: 12px !important;
}
.two-of-two {
    width: 90%;
    float: left;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.one-of-three {
    width: 15%;
    float: left;
}
.two-of-three {
    width: 70%;
    float: left;    
}
.text-masters {
    color: #9a9ca0 !important;
    float: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 95%;
}
.text-masterse {
    color: #6a6c6f !important;
    float: left;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    overflow: hidden;
    width: 100%;
}
.text-master {
    color: #6a6c6f !important;
    float: left;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.dropdown-menu {
    padding-left: 0px !important;
    width:150px;
    left:-115px !important;
}
.acti {
    color: #5bc102;
    font-weight: bold;
    margin-left: 10px;
}
.offstxt {
    color: #808080;
}
.actstxt {
    color: #5bc102;
}
.warnstxt {
    color: #ffd600;
}
.errstxt {
    color: #f03c3d;
}

.warnstxt,.warnstxt,.warnstxt,.warnstxt {
    font-weight: bold;
    margin-left: 10px;
}
.sitemap {
    height: 85px;
    width: 100%;
}
#chartdivs {
    width: 100%;
    height: 500px;
}
.viewdetails {
    border:1px solid #CCC;
     border-radius: 5px;
}
.one {
    height: 100px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 5px;
    /*text-align: center;*/
    margin:15px;
}
.sitename {
    background: #5b835b;
    padding: 5px;
    width: 10%;
    text-align: center;
    color: #FFF;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
}
.equname {
    float: right;
    background: #5b835b;
    padding: 5px;
    width: 10%;
    text-align: center;
    color: #FFF;
    border-radius: 0 0 5px 5px;
}
.viewdetails:hover + .view, .view:hover {
    display: inline-block !important;
}
.center {
    text-align: center;
}
.viewde {
    border:1px solid #CCC;
    border-radius: 5px;
}
.column1,.column2,.column3 {
    padding-top: 10px;
    padding-bottom: 15px;
}
.titles {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px !important;
    color: #6a6c6f;
    /*padding: 6px;*/
    font-weight: bold;
}
.txt {
     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px !important;
    color: #6a6c6f;
    font-size: 8px !important;
}
.btn-cons:hover {
    color: #FFF !important;
}
.animated {
    left: 0px !important;
}
.dropp {
    text-align: center;
}
#dropdownMenuButton {
    padding: 6px 95px;
}
#address {
    margin-top: 40px;
}
.dropdown a:hover {
    text-decoration: none;
}
.animated li {
    border-bottom:none !important;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu li a:hover {
    background: none !important;
}
.scroll {
    height: 440px;
}
.popuptitle {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px !important;
    color: #6a6c6f;
}
.txtbox {
    width: 100%;
}
.mt-15 {
    margin-top: 15px;
}
.mt-7 {
	margin-top:7px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-150 {
    margin-top: 150px;
}
.mb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sub-content {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sub-content ul li {
    list-style-type: none;
}
.sub-content ul  {
    margin-left: -40px;
}
.addres-cont {
    background: #CCC;
    height: 80px;
}
.conte {
    border:1px solid #CCC;
    border-radius: 5px;
}
.tkt {
    background: #5B835B;
    padding: 5px;
    color: #FFF;
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 0px;
    margin:0px;
}
.recomme {
    text-align: right;
}
.mb-15 {
    margin-bottom: 15px;
}
.addcont {
    border:1px solid #CCC;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.select {
    margin-top: 250px;
    margin-left: 940px;
    width: 150px !important;
}
.flipInX  {
    left: 0px !important;
}
.events ul {
    margin-left: -40px;
}
.events ul li {
    list-style-type: none;
    border-bottom: 1px solid #CCC;
    /*width: 96%;
    margin-left: 5%;
    margin-right: 5%;*/
}
.events {
    height: 375px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.txt-cmt {
    background: #CCC;
    border-radius: 5px;
    line-height: 18px;
}
.hr {
    border-bottom: 1px dotted #CCC;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}
.conte {
    /*height: 85px;*/
    overflow-y: scroll;
}
.overall {
    height: 185px;
}
.cmt {
    margin-top: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.amcharts-scrollbar-vertical {
    display: none;
}
.width {
    width: 100%;
    float: left;
}
.fields {
    color: #626262;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    font-weight: 600 !important;
}
.state .card-title {
    padding: 0px !important;
}
.state .card-header {
    padding: 0px !important;
    min-height: 10px;
}
.input-sm {
    padding: 0px 10px !important;
}
/****************** Hover Part ********************/
.site {
  position: relative;
  width: 100%;
}
.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.site:hover .over {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.site:hover .title {
/*   top: 90px; */
  display:none;
}

.button {
  position: absolute;
  width: 1200px;
  left:0;
  top: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.site:hover .button {
  opacity: 1;
}
.sitedet {
    position: relative;
  width: 100%;
    }  
.sitedet:hover .button {
  opacity: 1;
}
.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.sitedet:hover .over {
  display: block;
  background: rgba(0, 0, 0, .3);
}
.list ul li:hover {
    background: #CCC;
    /*height: 70px;*/
}
.animated ul li:hover {
    background: #DDD;
    height: 10px !important;
}
.bar {
    color: #FFF;
}
.top{
    margin-top: 0px !important;
}
.head {
    height: 51.49px !important;
    background: #5B835B;
}
.bars {
    font-size: 21px;
    color: #FFF;
    float: right;
    margin-right: 5px;
    margin-top: 15px !important;
    cursor: pointer;
}
.mt-15 {
	margin-top:15px !important;
}
.logos {
    padding: 15px 11px 10px 18px;
}
.icons {
    width:25% !important;
    float: right;
}
.card-header {
    border-bottom: 0px;
}
.border {
    border-radius: 5px !important;
}
.icon-thumbnail:hover {
    background: #5B835B;
    color: #FFF;
    height: 36px;
    width: 40px;
}
.sitehei {
    height: 60px;
} 
.add-body {
    height: 500px;
    /*overflow-y: scroll;*/
}
#chartdiv {
   width : 100%;
   height   : 250px;
}  
tbody > tr > td > a {
    color: #626262;
}
tbody > tr > td > a:hover {
    text-decoration:none;
    }
.pg-close {
        font-size: 17px;
}
.pg-close:hover {
    text-decoration: none;
}
/************** Menu **********************/
#navContainer {
    margin: 0 0 0 0px;
    padding: 0;
    background: #FFF;
    /*border: 1px solid #7398ba;*/
    /*text-align: center;*/
    width: 100%;
}
#navContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navContainer ul li {
    position: relative;
    border-bottom: 1px solid #CCC;
}
#navContainer ul li span {
    display: block;
}
#navContainer ul li a {
    text-decoration: none;
    color: #626262 !important;
    display: block;
    padding: 20px;
}
#navContainer ul li span:hover {
    /*background: pink;*/
}
#navContainer ul li a:hover {
    /*background: black;*/
}
#navContainer ul ul {
    position: absolute;
    display: none;
}
#navContainer ul ul li a {
    background: #FFF;
}
#navContainer ul li:hover ul {
    width: 50%;
    position: fixed;
    display: block;
    left: -170px;
    top: 0;
}
.sub-drop li a{
    padding: 8px !important;
    color: #626262 !important;
    font-size: 12px;
}
.popup-hei {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.modal-top {
    margin-top: 200px !important; 
    position: absolute;
}
.add-list ul {
    margin-left: -50px;
}
.add-list ul li {
    padding: 0px 0px 0px 10px;
    list-style-type: none;
}
.recent{
    background: #5B835B !important;
    color: #FFF;
    padding: 6px;
}
.add-list ul li {
    background: #CCC;
    color: #FFF;
    padding: 6px;
    margin-bottom: 5px;
}
.data-cont {
    border:1px solid #5B835B;
    border-radius:5px 5px 0px 0px;
    padding-bottom: 30px;
}
.add-head {
    background: #5B835B !important;
    color: #FFF;
    padding: 10px;
}
.add-text {
    text-align: right;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #626262;
}
.txt-box {
    width: 95%;
}
.data-deta {
    border:1px solid #CCC;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cmt {
    background: #5B835B;
    padding: 5px;
    height: auto;
}
.cmt-list {
    border:1px solid #5B835B;
    border-radius: 5px;
}
.cmt-list ul {
    margin-left: -40px;
    height: 320px;
    overflow-y: scroll;
}
.cmt-list ul li {
    /*padding: 10px;*/
    list-style-type: none;
    /*background: #5B835B;*/
    margin-bottom: 10px;
    /*border-bottom: 1px solid #CCC;*/
}
.hr {
    border-bottom: 1px solid #CCC;
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}
.cmtcontent {
    background: #CCC;
    border-radius: 8px;
}
.cmtcontent p {
    padding: 5px;
}
.border {
    /*border-bottom: 1px dotted #CCC;*/
    width: 100%;
   
    padding-bottom: 2%;
}
.hr-line {
    border-bottom: 1px dotted #CCC;
    width: 95%;
     margin-left: 2%;
     margin-right: 2%;
}
.padd {
    padding: 10px;
}
.ml {
    margin-left: 10px;
    margin-top: 10px !important;
}
.conte {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.txt-padd {
    padding: .97861429em 1em !important;
    font-size: 12px !important;
    color: #626262 !important;
}
.equname {
    /*width: 50% !important;*/
}

.site:hover {
    opacity: 0.3;
    /*background: #CCC;*/
}
.site .view-details {
    position:absolute;
    display:none;
}
.site:hover .view-details {
    display: block;
    opacity: 1;
}
.site .view-details {
    top:35%;
    left:45%;
}
.padd-20 {
    padding: 20px;
}
.equipe {
    margin-bottom: 0px !important;
}
.position {
    position: fixed;
}
.appendpara {
    width: 80% !important;
    float: left;
}
.datalogg {
    width: 50% !important;
}
.parametName {
    width: 100% !important;
}

.links a{
    cursor: pointer;
    margin-left: 40px;
    /*color: #000 !important;*/
    /*border: 1px solid #ddd;*/
}
.btn-txt {
    padding: 11px !important;
}
.tbl {
    padding: 10px !important;
}
.width-20 {
    width: 20%;
}
.middle {
    text-align: center;
vertical-align: middle !important;
}
.filestyle {
    height: 150px !important;
}
.bootstrap-filestyle label {
    padding: 9px !important;
}
.overflow {
    overflow-x: scroll;
}
.right {
    text-align: right;
}
.tbl {
    padding: 10px !important;
}

.cust-details {
    font-size: 13px !important;
    color: #6a6c6f;
 
}
.custdetails {
    height: 480px;
    
}
.customer-head {
    font-size: 14px !important;
    /*text-align: center;*/
    font-weight: bold;
   
}
.page-info {
    border: 1px solid #46be8a !important;
    background: #F0F0F0;
    
    border-radius: 7px;
}
.hr {
    border-bottom: 
}
.mb-50{
    margin-bottom: 50px;
}

.data-set {
    background: #F5F5F5;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
}
.status {
    font-size: 13px !important;
    color: #626262;
    float: left;
    text-align: left;
    margin-left: 10px !important;
}
.sitename {
    background: #5b835b;
    padding: 5px;
    width: 17%;
    text-align: center;
    color: #FFF;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
}

@media(max-width:480px) {
    .secondCol,.thirdCol {
        display: none;
    }
    #chartdiv {
        width: 100%; height: 200px;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250px !important;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }
    .sitename {
        background: #5b835b;
        padding: 5px;
        width: 65% !important;
        text-align: center;
        color: #FFF;
        border-radius: 5px 5px 0 0;
    }
    #chartdiv {
        width: 100%; 
        height: 190px !important;
    }

    .equname {
        float: right;
        background: #5b835b;
        padding: 5px;
        width: 40%;
        text-align: center;
        color: #FFF;
        border-radius: 0 0 5px 5px;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .secondCol {
        display: none;
    }
    .mt-15 {
        margin-top: 3px;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 250px !important;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
    }
    #chartdiv {
        width: 100%;
        height: 260px;
    }
    .sitename {
        background: #5b835b;
        padding: 5px;
        width: 40% !important;
        text-align: center;
        color: #FFF;
        border-radius: 5px 5px 0 0;
    }
}

@media (max-width:480px) {
	.custdetails{
	height:350px;}
}